@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --dark-brown: #582f08;
  --semi-dark-brown: #603814;
  --light-brown: #9d4d01;
  --lighter-brown: #e3bc97;
  --lightest-brown: #f9eeda;
  --background-color: #eadfd5;
  --blue: #0707c7;
  --red: #c50101;
  --green: #009014;
  --brown-text: #d2aa85;
  --text-background: #e4a66c;
  font-family: "Quicksand", sans-serif;
  --background-picture: #966945;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  /* color: var(--white); */
}

table th {
  background-color: #582f08 !important;
  color: #edd3bb !important;
}
.ant-btn-primary {
  color: white !important;
}
.ant-steps-item-icon {
  background-color: #582f08 !important;
}

.ant-steps-icon{
color: #ebe7e4 !important;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after{
  background-color: #a07554 !important;
}


.ant-steps-item-description{
  color: #582F08 !important;
}